.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.heading {
  width: 80%;
  text-align: center;
}

.heading > h2 {
  font-size: 30px;
  position: relative;
  display: inline-block;
  margin-bottom: 3rem;
}

.heading > h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #eeef20;
  bottom: -3px;
  left: 0;
}

.content > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  position: relative;
}

.content > ul::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 115%;
  min-height: 140px;
  background: #eeef20;
  background: #2b9348;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.content > ul > li {
  background: #eeef20;
  background: white;
  padding: 1rem 10px;
  color: white;
  background: #2b9348;
  /* background: #080a2c; */
  /* background: #f12f90; */
  background: white;
  color: black;
  border-radius: 5px 5px 70px 70px;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transform: rotate(0deg);
  max-width: max-content;
  text-align: center;
  position: relative;
  z-index: 1;
}

.content > ul > li > span {
  position: absolute;
  background: white;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

@media screen and (min-width: 600px) {
  .content > ul > li {
    min-width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 3rem 0;
    padding-bottom: 7rem;
  }
  .heading {
    font-size: 28px;
    position: relative;
    font-family: "Montserrat";
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  .heading > h2 {
    font-size: 28px;
  }
}
