.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.heading {
  font-size: 2.5rem;
  position: relative;
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
}

.underline {
  margin-top: 0.5rem;
  min-height: 0.5rem;
  width: 10%;
  background: #eeff20;
}

.content {
  margin-top: 1rem;
  padding-left: 5rem;
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  gap: 3rem;
}

.img {
  position: relative;
  min-width: 100rem;
  min-height: 100rem;
  border: 1px solid #2b9348;
  border-bottom: none;
}

.desc {
  width: 290rem;
  font-size: 18px;
  line-height: 1.8rem;
}

.registration-link {
  margin-top: 1rem;
  z-index: 10;
  background: #2b9348;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #eeef20 3px 3px 0px 0px;
  font-family: "Montserrat";
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.2s ease;
}

.registration-link:hover {
  transform: translate(3px, 3px);
  box-shadow: none;
}

@media screen and (max-width: 650px) {
  .container {
    padding: 3rem 0;
  }
  .content {
    width: 80%;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }
  .desc {
    text-align: start;
    font-size: 16px;
    line-height: 1.7rem;
    width: auto;
  }
  .img {
    min-height: 320px;
  }
}
