.about-tantra {
  width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 3rem;
}

.underline {
  margin-top: 0.5rem;
  min-height: 0.5rem;
  width: 40%;
  background: #eeff20;
}

.content {
  position: flex;
  width: 75%;
  margin-top: 2rem;
  font-family: "Lato";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
}
@media (max-width: 550px) {
  .underline {
    width: 50%;
  }
  .heading {
    font-size: 1.5rem;
  }
  .content {
    font-size: 1.1rem;
    line-height: 1.8rem;
    width: 90%;
  }
}
