.about-tantra {
  padding-top: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  margin-top: 65px;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.heading {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.heading > h2 {
  font-size: 40px;
}

.description {
  position: flex;
  margin-top: 2rem;
  font-family: "Lato";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  border: 3px solid #eeef20;
  border-top: none;
  border-bottom: none;
  padding: 2rem 2rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .heading > h2 {
    font-size: 28px;
  }
  .description {
    font-size: 1rem;
  }
  .about-tantra {
    padding-bottom: 2rem;
  }
}
