.bg-wrapper {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#0c1618, #333940);
  color: #ffffff;
  z-index: -10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.stars-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: -50vh;
  bottom: 10vh;
  mix-blend-mode: screen;
  overflow: hidden;
}

.content-wrapper {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.earth-wrapper {
  /* background: red; */
  /* position: absolute; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  /* top:90vh; */
  overflow: hidden;
  z-index: 1000;
}
