.bg-wrapper {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#0c1618, #333940);
  color: #ffffff;
  overflow: hidden;
  z-index: -10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.star-image-container {
  transform: scale(1.2);
}

.stars-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  overflow: hidden;
}

.stars {
  animation: rotateStars 100s linear 0s infinite;
}

@keyframes rotateStars {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.content-wrapper {
  margin-top: 10vh;
  height: 80vh;
  width: 80vw;
  overflow-y: scroll;
  z-index: 100;
  /* background: blue; */
  scrollbar-width: none;
}

.content-wrapper::-webkit-scrollbar {
  display: none;
}

.earth-wrapper {
  /* background: red; */
  /* position: absolute; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  /* top:90vh; */
  /* overflow: hidden; */
  z-index: 1000;
  transform: translate(0, -35vh);
}

.earth {
  animation: rotateEarth 30s linear 0s infinite;
}

@keyframes rotateEarth {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
