.highlighted-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  margin-top: 65px;
}

.content{
  width: 80%;
}

.heading {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: 4rem;
}

.heading > h1{
  font-size: 44px;
}

.components {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  min-height: 360px;
  gap: 3rem;
}

.image {
  width: 100%;
  height: 100%;
}

.image-container{
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  width: 30%;
  min-height: 360px;
  border-radius: 5px;
  overflow: hidden;
}

.image-container:hover {
  transform: translate(-10px, 0rem);
  box-shadow: 0.5rem 0.5rem 0px #b8c70f;
}

@media screen and (max-width: 1200px) {
  .content{
    width: 90%;
  }
  .components{
    min-height: 340px;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 900px){
  .components{
    min-height: 250px;
  }
  
}

@media (max-width: 900px) {
  .highlighted-events{
    margin-bottom: 3rem;
  }
  .heading > h1{
    font-size: 30px;
  }
  .components{
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .image-container{
    min-height: 350px;
    width: 100%;
    max-width: 450px;
  }
  .highlighted-events{
    padding-bottom: 2rem;
  }
}
