* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  width: 100vw;
}

:target {
  scroll-margin-top: 160px;
}

a {
  color: inherit;
  text-decoration: none;
}

.yellow-bottom {
  position: relative;
  display: inline-block;
}

.yellow-bottom::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -6px;
  background: yellow;
}

@media screen and (max-width: 600px) {
  .yellow-bottom::after {
    width: 90%;
  }
}
