.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Montserrat";
  min-height: 100vh;
  background: linear-gradient(180deg, #378fdf -108.25%, #fff8e1 81.35%);
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
=============
Theme Styles
=============
 */
.event-theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  z-index: 100;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1d2527;
}

.title .logo {
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 12px;
}

.theme {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  line-height: 0;
  overflow: hidden;
}

.theme h1 {
  font-size: 4rem;
  color: #419041;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.underline {
  display: none;
  width: 8rem;
  height: 0.11rem;
  background-color: #419041;
  margin: 0.6rem;
}

.timing {
  font-weight: 500;
  color: #2e692e;
  line-height: 0;
}

/* 
======================
Countdown Styles
======================
*/
.countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.countdown-heading {
  font-size: 3.2rem;
  text-align: center;
  color: #81e710;
}

.countdown-para {
  font-size: 1.1rem;
  text-align: center;
  color: #2e692e;
}

/* 
======================
Theme Reveal Animation
======================
*/
/* 
.theme-reveal {
  animation: reveal-up ease-in 1s;
}

@keyframes reveal-up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
} */

/* 
=============
Cloud styles
=============
*/
.clouds {
  background: red;
}

.cloud-right,
.cloud-left {
  position: absolute;
}

.cloud-right {
  top: -1%;
  right: 2%;
  transform: scale(0.55);
}

.cloud-left {
  left: 3%;
  top: -5%;
  transform: scale(0.7);
}

/* 
=============
Landscape-Layer-styles
=============
*/

.layer-1 {
  position: absolute;
  /* width: 100%; */
  bottom: -5%;
  left: 0%;
  z-index: 124;
}

.layer-1 > svg {
  width: 100%;
  height: 100%;
}

.layer-2 {
  position: absolute;
  bottom: -2%;
  left: 0%;
  z-index: 120;
}

.layer-2 > svg {
  width: 100%;
  height: 100%;
}

.layer-3 {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  bottom: 0%;
  z-index: 118;
  right: 0%;
}

.layer-3 > svg {
  width: 80%;
  height: 100%;
}

.layer-4-right {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  bottom: -17%;
  left: 0%;
  z-index: 116;
}
.layer-4-right svg {
  width: 70%;
}

.layer-4-left {
  position: absolute;
  width: 100%;
  bottom: -26%;
  left: 0%;
  z-index: 114;
}

.layer-4-left svg {
  width: 60%;
}

/* 
=============
Tree styles
=============
*/

.left-tree {
  position: absolute;
  bottom: 16%;
  /* top: 45%; */
  left: 0%;
  z-index: 119;
}

.left-tree > svg {
  width: 60%;
  height: auto;
}

.right-tree {
  position: absolute;
  bottom: 8%;
  right: 0%;
  z-index: 117;
  display: flex;
  flex-direction: row-reverse;
}

.right-tree > svg {
  width: 65%;
  height: auto;
}

/* 
=============
Sun styles
=============
*/

.sun {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  bottom: 10%;
  right: 0;
}

.sun > svg {
  width: 60%;
  height: auto;
}

/* 
=============
Digital Tree styles
=============
*/

.digital-tree {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  z-index: 122;
}

.digital-tree > svg {
  width: 42%;
  height: auto;
}

/*
======================
Mobile Responsive Hero
====================== 
*/

@media screen and (max-width: 1020px) {
  .trees,
  .sun,
  .layer-4-left,
  .layer-4-right {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .theme {
    flex-direction: column;
    gap: 0;
  }

  .underline {
    display: block;
  }

  .theme > h1 {
    font-size: 3rem;
  }

  .digital-tree > svg {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .cloud-right {
    display: none;
  }

  .cloud-left {
    transform: scale(0.4) translate(-50%, 10%);
  }

  .content {
    margin-top: 1.5rem;
  }

  .title h2 {
    font-size: 1.2rem;
  }

  .theme {
    margin-top: 4rem;
  }

  .theme h1 {
    font-size: 2.5rem;
  }

  .digital-tree > svg {
    width: 30vh;
  }
}
