.footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 300;
}

.contact-us {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  animation: animateToRight 1s ease 0s 1 forwards;
}

.contact-us p {
  color: white;
}

.mail-icon {
  font-size: 1.1rem;
  color: #ffffff;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #55b553;
  padding: 0.4em;
  border-radius: 100%;
}

.contact-us:hover {
  cursor: pointer;
}

.social-handles {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  animation: animateToLeft 1s ease 0s 1 forwards;
}

.social-handles p {
  color: #ffffff;
}

.icon {
  font-size: 1.2rem;
  color: #fff;
}

.icon:hover {
  cursor: pointer;
}

@keyframes animateToLeft {
  from {
    opacity: 0.6;
    transform: translate(100px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

@keyframes animateToRight {
  from {
    opacity: 0.6;
    transform: translate(-100px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

@media screen and (max-width: 450px) {
  .footer {
    align-items: center;
    justify-content: center;
  }

  .social-handle {
    margin: 0;
  }

  .contact-us {
    display: none;
  }
}
