/* 
======================
Countdown Styles
======================
*/
.countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.countdown-heading {
  font-size: 3.2rem;
  text-align: center;
  color: #81e710;
}

.countdown-para {
  font-size: 1.1rem;
  text-align: center;
  color: #2e692e;
}

.live-heading{
  text-align: center;
  color: #55b553;
  margin-top: 1rem;
}

.live-heading > p{
  margin-top: 10px;
  color: black;
  font-weight: 600;
}

.live-heading > a{
  display: inline-block;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.live-heading > a > svg{
  width: 22px;
  fill: red;
  height: 18px;
}

.live-heading > a > span{
  margin-left: 2px;
}

@media screen and (max-width: 480px) {
  .countdown-heading {
    font-size: 2.5rem;
  }

  .countdown-para {
    font-size: 0.9rem;
  }
}
