.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  cursor: default;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}

.mobile-board {
  margin-top: 1.5rem;
  opacity: 0;
  animation: themeHeadingAnim 1s ease-out 3s 1 forwards;
  display: none;
}

.mobile-board p {
  color: #2e692e;
  font-size: 1rem;
}

.click-hint {
  display: flex;
  width: 80vw;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 25%;
  z-index: 400;
}

.click-hint p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  width: 120vw;
  text-align: center;
  font-family: "Lato";
  color: #581601;
}

.thic {
  margin-top: 2rem;
  transform: translate(0, -90%);
  font-size: 1.2rem;
}

.green-title {
  color: #2e692e;
  font-weight: 700;
}

.down-arrow {
  margin-top: 1rem;
  z-index: 100;
  transform: scale(1.6);
  animation: arrowAnim 3s ease-in-out 0s infinite;
  /* background: red; */
}

@keyframes arrowAnim {
  0% {
    transform: translate(0, 40%) scale(1);
  }
  50% {
    transform: translate(0, -20%) scale(1.1);
  }
  100% {
    transform: translate(0, 40%) scale(1);
  }
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
=============
Theme Styles
=============
 */
.event-theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin-top: 7%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: titleAnim 1s ease-out 3s 1 forwards;
  /* animation: titleAnim 1s ease 6s 1 forwards; */
  margin-bottom: 1rem;
}

@keyframes titleAnim {
  from {
    opacity: 1;
    transform: translate(0, 200%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

.title h2 {
  font-size: 1.7rem;
  font-weight: 500;
  color: #1d2527;
}

.title .logo {
  width: 32px;
  height: 32px;
  position: relative;
  margin-right: 12px;
}

.theme {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  overflow: hidden;
  opacity: 0;
  animation: themeHeadingAnim 1s ease-out 3s 1 forwards;
}

.theme h1 {
  font-size: 4rem;
  color: #419041;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

@keyframes themeHeadingAnim {
  from {
    opacity: 0.5;
    transform: scale(0.9) translate(0, 10rem);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}

.countdown {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  overflow: hidden;
  opacity: 0;
  animation: themeHeadingAnim 1s ease-out 3s 1 forwards;
}

.underline {
  display: none;
  width: 8rem;
  height: 0.11rem;
  background-color: #419041;
  margin: 0.6rem;
  opacity: 0;
  animation: themeHeadingAnim 1s ease-out 3s 1 forwards;
}

.timing {
  font-weight: 500;
  color: #2e692e;
  line-height: 0;
}

/* 
=============
Cloud styles
=============
*/
.clouds {
  background: red;
}

.cloud-right,
.cloud-left {
  position: absolute;
}

.cloud-right {
  top: -1%;
  right: 2%;
  transform: scale(0.55);
}

.cloud-left {
  left: 3%;
  top: -5%;
  transform: scale(0.7);
}

/*
======================
Countdown Styles
======================
*/
.countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.countdown-heading {
  font-size: 3.2rem;
  text-align: center;
  color: #81e710;
  line-height: 0;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.countdown-para {
  font-size: 1.1rem;
  text-align: center;
  color: #2e692e;
}

/* 
=======================
Landscape Layer Styles
=======================
*/

.layer-1 {
  position: absolute;
  /* width: 100%; */
  bottom: -5%;
  left: 0%;
  z-index: 124;
}

.layer-1 > svg {
  width: 100%;
  height: 100%;
}

.layer-2 {
  position: absolute;
  bottom: -2%;
  left: 0%;
  z-index: 120;
}

.layer-2 > svg {
  width: 100%;
  height: 100%;
}

.layer-3 {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  bottom: 0%;
  z-index: 118;
  right: 0%;
}

.layer-3 > svg {
  width: 80%;
  height: 100%;
}

.layer-4-right {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  bottom: -12%;
  left: 0%;
  z-index: 116;
}

.layer-4-right svg {
  width: 70%;
}

.layer-4-left {
  position: absolute;
  width: 100%;
  bottom: -22%;
  left: 0%;
  z-index: 114;
}

.layer-4-left svg {
  width: 60%;
}

/* 
==============
Board styles
==============
*/
.board {
  position: absolute;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 10%;
  transform: translate(0, -56%);
  z-index: -1;
}

.board > svg {
  transform: scale(0.3) scaleX(1.5) scaleY(1.5);
  fill: #c19a6b;
}

.views {
  position: absolute;
  transform: translate(0, -38%);
  backface-visibility: hidden;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-align: center;
}

.views > span:nth-of-type(1) {
  color: #7f5e2d;
  display: block;
  margin-bottom: 2px;
  position: relative;
}

.views > span:nth-of-type(1)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 1;
  background: #c19a6b;
  animation: revealViews 5s ease 3.8s 1 forwards;
}

@keyframes revealViews {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.views > span:nth-of-type(2) {
  color: #7f5e2d;
}

/* 
=============
Tree styles
=============
*/
.left-tree {
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 0;
  transform: translate(0, -65%);
}

.left-tree > svg {
  width: 60%;
  height: auto;
}

.right-tree {
  position: absolute;
  right: 0%;
  z-index: -1;
  display: flex;
  top: 0;
  flex-direction: row-reverse;
  transform: translate(0, -65%);
}

.right-tree > svg {
  width: 55%;
  height: auto;
}
/* 
=============
Sun styles
=============
*/
.sun {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  bottom: 9%;
  right: 0;
  z-index: 115;
}

.sun > svg {
  width: 58%;
  height: auto;
  opacity: 0;
  animation: sunAnim 2s ease-out 1.5s forwards;
}

@keyframes sunAnim {
  0% {
    opacity: 0;
    transform: translate(50%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

/* 
====================
Digital Tree styles
====================
*/
.digital-tree {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  z-index: 130;
  padding-top: 1rem;
  z-index: 123;
}

.digital-tree:hover {
  cursor: pointer;
}

.digital-tree > svg {
  width: 42%;
  height: auto;
  stroke-dasharray: 13630;
  stroke-dashoffset: 13630;
  animation: dash 20s linear infinite;
  transform: scaleX(1.3);
  overflow: visible;
}

.digital-tree > svg > path {
  fill: #581601;
  stroke: url(#digital-tree_svg__a);
  stroke-width: 4px;
}

.digital-tree-anim {
  animation: floatTree 8s ease-in-out 0s infinite alternate;
}

.digital-tree-anim:hover {
  cursor: default;
}

.digital-tree-anim > svg > path {
  animation: digitalTreeAnim1 0.5s ease 0.8s 1 forwards,
    treeMoveDownUp 1.5s ease-in-out 0s 1;
}

@keyframes treeMoveDownUp {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 120%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatTree {
  0% {
    transform: translate(-50%, 3%);
  }
  50% {
    transform: translate(-50%, 0%) scale(1.02);
  }
  100% {
    transform: translate(-50%, 3%);
  }
}

@keyframes digitalTreeAnim1 {
  100% {
    stroke: none;
    fill: url(#digital-tree_svg__a);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/* 
===================
Initial Animation
===================
*/
.container::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #e8cc84 -28.01%, #fff8e1 74.49%);
}

.container.container-anim::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #378fdf -108.25%, #fff8e1 81.35%);
}

@keyframes changeOpacity {
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.layer-1 > svg > path {
  fill: #581601;
}

.layer-2 > svg > path {
  fill: #b54415;
}

.layer-3 > svg > path {
  fill: #ff8324;
}

.layer-4-right > svg > path {
  fill: #d46e20;
}

.layer-4-left > svg > path {
  fill: #fba423;
}

/* 
==================
Layers Animation
==================
*/

.layer-1-anim > svg > path {
  animation: layer1Anim 0.3s ease 0.6s 1 forwards,
    moveDownUp 1.5s ease-in-out 0s 1 forwards;
}

@keyframes layer1Anim {
  to {
    fill: #2e692e;
  }
}

.layer-2-anim > svg > path {
  animation: layer2Anim 0.5s ease 1s 1 forwards,
    moveDownUp 2.5s ease-in-out 0s 1 forwards;
}

@keyframes layer2Anim {
  to {
    fill: #419041;
  }
}

.layer-3-anim > svg > path {
  animation: layer3Anim 0.5s ease 1.1s 1 forwards,
    moveDownUp 3s ease-in-out 0s 1 forwards;
}

@keyframes layer3Anim {
  to {
    fill: #55b553;
  }
}

.layer-4-left-anim > svg > path {
  animation: layer4LeftAnim 0.5s ease 1.4s 1 forwards,
    moveDownUp 3.5s ease-in-out 0s 1 forwards;
}

@keyframes layer4LeftAnim {
  to {
    fill: #bfe3b7;
  }
}

.layer-4-right-anim > svg > path {
  animation: layer4RightAnim 0.5s ease 1.7s 1 forwards,
    moveDownUp 3.5s ease-in-out 0s 1 forwards;
}

@keyframes layer4RightAnim {
  to {
    fill: #9cd496;
  }
}

@keyframes moveDownUp {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 80%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.trees,
.sun,
.board {
  visibility: hidden;
}

/* 
================
Tress Animation
================
*/
.trees-anim,
.sun {
  animation: showElements 0.1s ease 0s 1 forwards;
}
.clouds,
.content {
  animation: showElements 0.1s ease 0s 1 forwards;
}

.board-anim {
  animation: showElements 0.1s ease 0s 1 forwards, boardAnim 3s ease-in-out 0s 1;
}

@keyframes boardAnim {
  0% {
    transform: translate(0, 50%);
  }
  80% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, -55%);
  }
}

@keyframes showElements {
  to {
    visibility: visible;
  }
}

.right-tree-anim {
  animation: treeAnim 3s ease-in-out 0s 1;
}

.left-tree-anim {
  animation: treeAnim 2.5s ease-in-out 0s 1;
}

@keyframes treeAnim {
  0% {
    transform: translate(0, 55%);
  }
  70% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, -65%);
  }
}

/* 
========================
Light Mode Cloud styles
========================
*/
.clouds {
  background: red;
}

.cloud-right,
.cloud-left {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.cloud-right {
  top: 0;
  right: 4%;
  transform: scale(0.55);
  animation: cloudRightAnim 2s ease-out 1.5s forwards;
}

@keyframes cloudRightAnim {
  0% {
    opacity: 0;
    right: -50%;
  }
  100% {
    opacity: 1;
    right: 3%;
  }
}

.cloud-left {
  top: -8%;
  left: 11%;
  transform: scale(0.6) !important;
  animation: cloudLeftAnim 2s ease-out 1.5s forwards;
}

@keyframes cloudLeftAnim {
  from {
    opacity: 0;
    left: -50%;
  }
  to {
    opacity: 1;
    left: 1%;
  }
}

/* 
=================
Dark Mode Clouds
=================
*/
.dark-cloud-left-1,
.dark-cloud-left-2,
.dark-cloud-right-1,
.dark-cloud-right-2 {
  position: absolute;
  z-index: 1;
}

.dark-cloud-left-1 {
  left: 0;
  top: 25%;
  animation-delay: 1s;
}

.dark-cloud-left-2 {
  top: 10%;
  left: 0;
  animation-delay: 1.5s;
}

.move-dark-cloud-left {
  animation: moveOutCloudsLeft ease 1s 1 forwards;
}

@keyframes moveOutCloudsLeft {
  100% {
    transform: translate(-100%, 0);
  }
}

.dark-cloud-right-1 {
  right: 0;
  top: 25%;
  animation-delay: 1.2s;
}

.dark-cloud-right-2 {
  right: 0;
  top: 10%;
  animation-delay: 1.8s;
}

.move-dark-cloud-right {
  animation: moveOutCloudsRight ease 1s 1 forwards;
}

@keyframes moveOutCloudsRight {
  100% {
    transform: translate(100%, 0);
  }
}

/*
======================
Mobile Responsive Hero
====================== 
*/
@media screen and (max-width: 1050px) {
  .tree,
  .sun,
  .layer-4-left,
  .layer-4-right {
    /* display: none; */
    visibility: hidden !important;
  }
  .cloud-right {
    right: 1% !important;
  }
  .cloud-left {
    left: -10% !important;
    transform: scale(0.4) !important;
  }
  .digital-tree {
    bottom: 0;
  }
  @keyframes cloudRightAnim {
    from {
      opacity: 0.1;
      right: -10%;
    }
    to {
      opacity: 1;
      right: 1%;
    }
  }
  @keyframes cloudLeftAnim {
    from {
      opacity: 0.1;
      right: -15%;
    }
    to {
      opacity: 1;
      left: -10%;
    }
  }
}
@media screen and (max-width: 850px) {
  .theme {
    flex-direction: column;
    gap: 0;
  }

  .underline {
    display: block;
  }

  .theme > h1 {
    font-size: 3rem;
  }

  .digital-tree > svg {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    min-height: 100vh;
  }

  .cloud-right {
    display: none;
  }

  .cloud-left {
    transform: scale(0.4) translate(-50%, 10%);
  }

  .content {
    margin-top: 1.5rem;
  }

  .title h2 {
    font-size: 1.2rem;
  }

  .theme {
    margin-top: 2rem;
  }

  .theme h1 {
    font-size: 2.5rem;
  }

  .board {
    display: none;
  }

  .mobile-board {
    display: block;
  }

  .layer-1 {
    transform: scale(2) scaleY(1.5) scaleX(1.2);
    bottom: 0%;
    display: flex;
  }
  .layer-2 > svg {
    transform: scale(1.2);
    bottom: 0%;
  }
  .layer-3 > svg {
    transform: scale(1.2);
    bottom: 0;
  }

  .digital-tree {
    bottom: 2%;
  }

  .digital-tree > svg {
    width: 25vh;
  }
  .click-hint p {
    font-size: 1.3rem;
  }
}

.underline {
  visibility: hidden;
}

@media screen and (min-width: 600px) {
  .container {
    height: 100vh;
    min-height: 650px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    animation: titleAnim 1s ease-out 1s 1 forwards;
    margin-bottom: 1rem;
  }

  .countdown,
  .theme,
  .underline,
  .mobile-board {
    animation: themeHeadingAnim 1s ease-out 1s 1 forwards;
  }

  .countdown {
    margin-top: 5%;
  }

  .theme {
    margin-top: 0;
  }

  .dark-cloud-left-1 {
    top: 15%;
  }

  .dark-cloud-left-2 {
    top: 20%;
    display: none;
  }

  .dark-cloud-right-1 {
    top: 5%;
  }

  .dark-cloud-right-2 {
    top: 40%;
    right: -20%;
    display: none;
  }

  .theme h1 {
    font-size: 32px;
    padding: 0 5%;
  }

  .title .logo {
    margin-right: 6px;
    width: 28px;
    height: 28px;
  }

  .title h2 {
    font-size: 25px;
  }

  .underline {
    margin-bottom: 1rem;
    margin-top: 0;
    width: 60%;
  }

  .clouds {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .cloud-left {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: none !important;
    display: none;
  }

  .cloud-left > svg {
    transform: scale(0.2) translate(-40rem, 0rem);
    position: absolute;
    left: 0;
  }

  .mobile-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
  }

  .trees {
    display: none;
  }

  .mobile-board > p {
    position: relative;
  }
}

/*
Styles for Firefox
*/

@supports (-moz-appearance: none) {
  .layer-1-anim {
    animation: layer1Anim 0.5s ease 0.5s 1 forwards,
      moveDownUp 1.5s ease-in-out 0s 1 forwards;
  }

  .layer-2-anim {
    animation: layer2Anim 0.5s ease 1s 1 forwards,
      moveDownUp 2s ease-in-out 0s 1 forwards;
  }

  .layer-3-anim {
    /* animation: layer3Anim 0.5s ease 1 forwards; */
    animation: layer3Anim 0.5s ease 1.5s 1 forwards,
      moveDownUp 2.5s ease-in-out 0s 1 forwards;
  }

  .layer-4-left-anim {
    /* animation: layer3Anim 0.5s ease 1 forwards; */
    animation: layer4LeftAnim 0.5s ease 2s 1 forwards,
      moveDownUp 3s ease-in-out 1s 1 forwards;
  }

  .layer-4-right-anim {
    /* animation: layer3Anim 0.5s ease 1 forwards; */
    animation: layer4RightAnim 0.5s ease 2s 1 forwards,
      moveDownUp 3s ease-in-out 1s 1 forwards;
  }
}
