.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Montserrat";
  min-height: 100vh;
  background: linear-gradient(180deg, #378fdf -108.25%, #fff8e1 81.35%);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
=============
Theme Styles
=============
 */
.event-theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  z-index: 100;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.title .logo {
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 12px;
}

.theme {
  display: flex;
  line-height: 0;
}

.theme h1 {
  font-size: 4rem;
  color: #419041;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.timing {
  font-weight: 600;
  color: #2e692e;
  line-height: 0;
}

/* 
=============
Cloud styles
=============
*/
.clouds {
  background: red;
}

.cloud-right,
.cloud-left {
  position: absolute;
}

.cloud-right {
  top: 0;
  right: 5%;
}

.cloud-left {
  left: 9%;
  top: -2%;
}
