.highlighted-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.content{
  width: 80%;
}

.heading {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: 4rem;
}

.heading > h2{
  font-size: 40px;
}

.components {
  display: grid;
  position: relative;
  min-height: 360px;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.image {
  width: 100%;
  height: 100%;
}

.image-container{
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

.image-container:hover {
  transform: translate(-10px, 0rem);
  box-shadow: 0.5rem 0.5rem 0px #b8c70f;
}

@media screen and (max-width: 1200px) {
  .content{
    width: 90%;
  }
  .components{
    min-height: 340px;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 900px){
  .components{
    min-height: 250px;
  }
  
}

@media (max-width: 750px) {
  .heading > h2{
    font-size: 28px;
  }
  .components{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .image-container{
    min-height: 350px;
  }
  .highlighted-events{
    padding-bottom: 2rem;
  }
}
