.highlighted-events {
  padding-top: 5vh;
  width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.5em;
  margin-top: 3rem;
}

.underline {
  margin-top: 0.5rem;
  min-height: 0.5rem;
  width: 20%;
  background: #eeff20;
}

.components {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 2rem 5rem;
  gap: 5rem;
}

.logo {
  width: 100%;
  height: 100%;
}

.logo-container:hover {
  transform: translate(-0.5rem, -0.5rem);
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 0px #b8c70f;
}

@media (max-width: 700px) {
  .underline {
    min-height: 0.2rem;
    width: 50%;
  }

  .heading {
    margin-top: 1.5rem;
    font-size: 2em;
  }

  .components {
    flex-direction: column;
  }

  .logo {
    width: 90%;
    height: 90%;
  }
}
