.navbar-wrapper {
  height: 10vh;
  min-width: 100vw;
  background: red;
  position: fixed;
  top: 0;
  z-index: 2000;
}

.navbar {
  background: #0c1618;
  /* background: blue; */
  color: white;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.branding {
  margin-left: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.branding-img {
  width: 20px;
  height: auto;
}

.branding-text {
  text-transform: uppercase;
  font-family: "Montserrat";
  /* font-family: "Lato"; */
  font-size: 1.5rem;
}

.navbar-links {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.navbar-link {
  font-family: "Lato";
}

.navbar-link:hover {
  text-decoration: underline 3px #eeef20;
  text-underline-offset: 0.5em;
}

.yellow-line {
  /* position: relative; */
  height: 1vh;
  min-width: 100vw;
  background: #eeef20;
}

.green-line {
  /* position: relative; */
  height: 1vh;
  min-width: 100vw;
  background: #2b9348;
}
