.navbar-container {
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 1000;
  background: linear-gradient(180deg, #0C1618 0%, #1D2527 75%, #333940 100%);;
  padding: 5px;
  height: 65px;
  width: 100%;
  box-shadow: 0 8px 5px -8px #000;
  font-family: "Montserrat";
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.fadeIn{
  display: flex;
  opacity: 1;
  visibility: visible;
}

.navbar-container::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #EEEF20;
  bottom: 0;
  transform: translate(0, 90%);
}

.navbar-container::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #2B9348;
  bottom: -3px;
  transform: translate(0, 100%)
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.img {
  height: 35px;
  width: 35px;
  position: relative;
}

.title{
  margin-left: 8px;
  color: white;
}

.title > h2{
  font-weight: 500;
  font-size: 24px;
}

.nav-links {
  display: flex;
  font-weight: 500;
}

.nav-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);;
}

.active a {
  color: white;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  list-style-type: none;
}

.nav-links ul li {
  margin-right: 3rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.menu-title,
.mobile-menu-logo {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav-links ul li {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 600px){
  .nav-links::after{
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .navbar-container {
    min-height: 60px;
  }
  .img{
    width: 35px;
    height: 35px;
  }
  .title{
    margin-left: 8px;
  }
  .title > h2{
    font-size: 19px;
  }
  .nav-links a {
    font-size: 1rem;
    font-weight: lighter;
  }
  .nav-links {
    position: fixed;
    right: 0;
    top: 0;
    background: #192123;
    box-shadow: rgba(170, 231, 200, 0.35) 0px 15px 20px;
    border-radius: 4px;
    width: 40vw;
    transition: all 0.5s ease;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
  }

  .nav-links::after{
    content: "";
    width: 25vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);;
    position: absolute;
    transform: translate(-100%, 0);
    opacity: 1;
    transition: transform 0.4s ease, opacity 0.6s ease;
  }

  .nav-links.hide::after{
    opacity: 0;
    transform: translate(0, 0)
  }
  .hide {
    transform: translate(100%);
  }
  .menu-title {
    display: block;
  }
  .mobile-menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    /* margin-bottom: 1rem; */
  }
  .mobile-menu-logo-content{
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-menu-logo-content p, .mobile-menu-logo-content hr{
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.7);
  }
  .nav-links ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
    margin-left: 0.625rem;
  }

  .nav-links > ul > li {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .nav-links > ul > li {
    margin: 0.9rem;
  }

  /* hamburger menu */
  .hamburger-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 3px;
    z-index: 10000;
  }
  .hamburger {
    width: 28px;
    height: 1.6px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 1.6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .hamburger::before {
    transform: translateY(-8px);
  }
  .hamburger::after {
    transform: translateY(8px);
  }
  .open .hamburger {
    transform: translateX(-8px);
    background: transparent;
    box-shadow: none;
  }
  .open .hamburger::before {
    transform: rotate(45deg) translate(5px, -5px);
  }
  .open .hamburger::after {
    transform: rotate(-45deg) translate(5px, 5px);
  }
}

@media screen and (max-width: 600px) {
  .nav-links {
    width: 75vw;
  }
}