.MainNav{
 background-color:black;
 width: 300px;
 height: 400px;

}
.elements ul::after{
    content: " ";
    width: 3px;
    position: absolute;
    height: calc(100% -58px);
    left: 40px;
    top:0px;
    background: rgb(5, 114, 60);


}
