.tf-in-past {
  width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 3rem;
}

.underline {
  margin-top: 0.5rem;
  min-height: 0.5rem;
  width: 40%;
  background: #eeff20;
}

.container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.video {
  background: red;
  display: flex;
}

.Video2 {
  width: 35rem;
  height: 20rem;
}

.content {
  position: flex;
  /* width: 100%; */
  margin-top: 2rem;
  font-family: "Lato";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
}

@media (max-width: 700px) {
  .heading {
    font-size: 1.5rem;
  }

  .underline {
    width: 50%;
  }

  .container {
    flex-direction: column;
    gap: 0.1rem;
  }

  .Video2 {
    width: 30rem;
    height: 20rem;
  }

  .content {
    font-size: 1.1rem;
    line-height: 1.8rem;
    width: 100%;
  }
}
